@import 'variables';

.content {
  padding-top: 50px;
}

.goldHeading {
  color: rgba(255, 234, 0, 0.242);
  font-family: $reenieBeanie;
  font-size: 60px;
  text-shadow: 1px 1px rgba(255, 234, 0, 0.454);
}